
.nav-item:hover {
    background-color: red;
    text-decoration: none;
    border-radius: 0.5rem;
}
.bg-noir {
    background-color: #00000071;
    border-radius: 0.4rem;
}
.number {
    font-size: 2rem;
    font-weight: bold;
}
.chiffre:hover {
    background-color: rgba(243, 57, 66, 0.89);    
    border-radius: 0.3rem;
}
.bg-category {
    background-color: #f1f1f1;
}
#rounded {
    border-radius: 50%;
    height: 8rem;
    width: auto;
}
.team:hover {
    height: 10rem;
    width: auto;
}
.bg-img {
    background-color: rgb(226, 216, 218);
    
    border-radius: 1.2rem;
}
.opac {    
    opacity: 1.0;
}
.opac:hover {
    opacity: 0.5;
}
