.nav-item:hover {
  background-color: #ffc107;
  text-decoration: none;
  border-radius: 0.5rem;
}
.bg-noir {
  background-color: #000000c0;
  border-radius: 0.4rem;
}
.number {
  font-size: 2rem;
  font-weight: bold;
}
.chiffre:hover {
  background-color: #ffc107;
  color: black;
  border-radius: 0.3rem;
}
.bg-category {
  background-color: #f1f1f1;
}
#rounded {
  border-radius: 50%;
  height: 8rem;
  width: auto;
}
#rounded:hover {
  opacity: 0.5;
}
.team:hover {
  height: 10rem;
  width: auto;
}
.bg-img {
  background-color: rgb(226, 216, 218);

  border-radius: 1.2rem;
}
.opac {
  opacity: 1;
}
.opac:hover {
  opacity: 0.8;
}
.star {
  color: yellow;
}
.bg-title {
  background-color: rgb(240, 215, 240);
}
#partenaire {
  height: 10rem;
  width: 8rem;
}
#lien {
  text-decoration: none;
  color: rgb(65, 62, 62);
  font-weight: bold;
}
#lien2 {
  text-decoration: none;
  color: white;
}
.insta {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.youtube {
  color: #CC181E; 
}
.facebook {
  color: #2D609B;
}
